# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [4]:
number = 9
print(number)

9

##### Assinging float

In [5]:
numberfloat=2.3
print(numberfloat)

2.3

#### Performing Calculations on ints and floats

##### Addition

In [8]:
num1=7
num2=199
num3=76
result=num1+num2+num3
print(result)
result += 88
print(result)

282
370

##### Subtraction

In [17]:
result=370
print(result)
print(result-num2)

370
171

##### Multiplication

In [18]:
result_mul= 7*19
print(result_mul)

133

##### Division

In [19]:
result_div=num3/num2
print(result_div)

0.38190954773869346

##### Floor Division

In [21]:
solution= 70//8
print(solution)
solution=5//3
print(solution)

8
1

##### Modulo

In [23]:
result_mod=13%2
print(result_mod)

result_mod=20 % 4
print(result_mod)

1
0

##### Exponential

In [26]:
5**3
result_exp=6**2
print(result_exp)
print(result_exp**3)

36
46656

### String Input-Output

##### String Assignment

In [30]:
name="tyler"
print(name)
message="a bula bula bula fudageedigo"
print(message + name)
print(message + " " + name + " boohaa")

tyler
a bula bula bula fudageedigotyler
a bula bula bula fudageedigo tyler boohaa

##### print() <br>
<p>Don't forget about end=' '</p>

In [45]:
print(name, " ", message)
print(name, "say bohah", " ", end="ooohallo")

tyler   says moholo
tyler say bohah  ooohallo

##### String Concatenation

In [48]:
band="soulfly"
does="sings"
words="umbababumba"
print(band + " " + does + " " +words)

soulfly sings umbababumba

##### Type Conversion

In [51]:
number="65"
real_num= int(number)


print(real_num + 1)

66

##### input()

In [64]:
favorite_car= input("What is your favorite car?")
print(favorite_car)

age= int(input("what is your age?"))
response="you look more like ", age +5
print(response)

KeyboardInterrupt: Interrupted by user

##### format()

In [72]:
car= input("what is the best car in the world?")
model= input("who makes it?")
statement="the best car in the world is the {} made by {}." .format(car,model)
print(statement)

what is the best car in the world?mustang
who makes it?chevy
the best car in the world is the mustang made by chevy.

##### Old Way (python 2)

In [73]:
statement2 = "the worst car in the world is %s" %car
print(statement2)

the worst car in the world is mustang

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [77]:
color=input("what is your favorite color of car?")
year=input("what is your favorite year of car?")
make=input("what is your favorite brand of car?")
model=input("what is your favorie model of car?")

statement= "tylers favorite car is a {} {} {} built in {}" .format(color, make, model, year)
print(statement)

what is your favorite color of car?black
what is your favorite year of car?1969
what is your favorite brand of car?dodge
what is your favorie model of car?charger
tylers favorite car is a black dodge charger built in 1969

### If Statements

In [120]:
# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<=)

# Truth Tree:
# T && F = F
# T && T = T
# T || F = T
# F || T = T
# F || F = F

weather="cloudy"

# if weather == "sunny":
#     print("Its a nice day")
# else: 
#     print("it is still a nice day but its ugly outside.")
number=99
if number == 76:
    print("true")
elif number > 76:
    print("number is larger than 76")
    
else: print("false")
    
    
num1=15
num2=99
num3=99

if num1 > num2 and num1 > num3:
    print("this is correct")
    
elif num2 ==num3:
    print("these two are the same")

number is larger than 76
these two are the same

##### 'is' keyword

In [125]:
car = "dodge"

if car is "dodge":
    print("correct")

correct

<>:3: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:3: SyntaxWarning: "is" with a literal. Did you mean "=="?
C:\Users\tymol\AppData\Local\Temp\ipykernel_25268\2148014175.py:3: SyntaxWarning: "is" with a literal. Did you mean "=="?
  if car is "dodge":

##### 'in' keyword

In [126]:
numbers= 1, 3, 4, 6, 8, 9
 
if 7 in numbers:
    print("7 is here")
else:
    print("not here")

not here

##### 'not in' keyword'

In [128]:
letters= "g,d,s,e,t,y,u,u,j,g,b,f"
if "h" not in letters:
    print("we are missing h")

we are missing h

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [129]:
meal=input("what is your favrite dish for thanksgiving?")
if "p" in meal:
    print("we are not having this at thanksgiving this year. its the law.")
else:
    print("this dish is fine because it does not have the letter 'p'.")

what is your favrite dish for thanksgiving?stuffing
this dish is fine because it does not have the letter 'p'.

## Using 'and'/'or' with If Statements

In [130]:
number=100
if number > 90 and number <150:
    print("it is between these")
    
number2= 77
if number2 < 9 or number2 <78:
    print("this information is not helpful, although it is still true")

it is between these
this information is not helpful, although it is still true

### Elif Statements

In [135]:
if number2 ==5:
    print("the number is 5")
elif number != 5:
    print("it is somthing other than 5")

it is somthing other than 5

### Else Statements

In [137]:
mystery_pet="fish"

if mystery_pet == "Cat":
    print("it is a cat")
else:
    print("I hope its a dog")

I hope its a dog

### For Loops

In [139]:
deserts= "cake", "ice cream", "cookies", "fudge", "candies"

for desert in deserts:
    print(desert, "is bad to eat to much")

cake is bad to eat to much
ice cream is bad to eat to much
cookies is bad to eat to much
fudge is bad to eat to much
candies is bad to eat to much

##### Using 'in' keyword

In [140]:
pet_name="kingsley","freddy","rover","turbo","brocky","holly"

if "molly" in pet_name:
    print("Molly is in the list")
else:
    print("molly is not in the list of names.")

molly is not in the list of names.

##### Continue Statement

In [144]:
list=["dog", "cat", "pheret", "rabit", "hamster", "fish", "bird"]
for pet in list:
    if pet == "bird":
        continue
    print(pet)

dog
cat
pheret
rabit
hamster
fish

##### Break Statement

In [146]:
numbers=[1,2,3,4,5,6,7,8,9,10]
for number in numbers:
    if number == 8:
        break
    print(number)

1
2
3
4
5
6
7

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

In [1]:
name = "tyler Carnemolla"

if "i" in name:
    pass
    print(name)
for letter in name:
    pass

##### Double For Loops

In [151]:
numbers=[1,2,3,4,5]
for letter in name:
    for number in numbers:
        print(letter)

t
t
t
t
t
y
y
y
y
y
l
l
l
l
l
e
e
e
e
e
r
r
r
r
r





C
C
C
C
C
a
a
a
a
a
r
r
r
r
r
n
n
n
n
n
e
e
e
e
e
m
m
m
m
m
o
o
o
o
o
l
l
l
l
l
l
l
l
l
l
a
a
a
a
a

### While Loops

In [164]:
number=100
while number > 0:
    number -= 1
    print(number)

99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1
0

##### Looping 'While True'

In [171]:
run = True
num=1

while run == True:
    num += 1
    if num == 50:
        run=False
    print(num)

2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50

##### While & For Loops Used Together

In [183]:
light = "green"
num = 1
while light == "green":
    print("booha")
    
    for i in range(5):
        num +=1
    if num > 50:
        light = "red"

booha
booha
booha
booha
booha
booha
booha
booha
booha
booha

### Built-In Functions

##### range()

In [8]:
#range: start,stop,step 
for i in range(1,15):
    print(i)
    
for j in range(1,10,2):
    print(j)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
1
3
5
7
9

##### len()

In [18]:
dog=input("what is your favorite dog?")

print(len(dog))

what is your favorite dog?rotweiler
9

##### help()

In [20]:
help(isinstance)

Help on built-in function isinstance in module builtins:

isinstance(obj, class_or_tuple, /)
    Return whether an object is an instance of a class or of a subclass thereof.

    A tuple, as in ``isinstance(x, (A, B, ...))``, may be given as the target to
    check against. This is equivalent to ``isinstance(x, A) or isinstance(x, B)
    or ...`` etc.

##### isinstance()

In [22]:
#check a variable to find out what object family (or data type) it belongs to.
#isinstance(variable,type)
print(isinstance(4.5,int))
if isinstance(2.2,float):
    print("this is a float")

False
this is a float

##### abs()

In [23]:
#absolute value just like in math
#absolute value (/-5/) = 5
print(abs(-69))

69

### Try and Except

In [27]:
#use this to put out useful error messages
#does no stop the program
try:
    number=int(input("input your phone number"))
    print("thank you for your info "+ number + "we will contact you shortly")
except:
    print("please check your phone number for errors")

input your phone numberd
please check your phone number for errors

### Lists

##### Declaring Lists

In [35]:
list_1=[]
names=["tommy","rodger","lexi","diana","dee","lindsey"]
print(names)
print(isinstance(names,list))

['tommy', 'rodger', 'lexi', 'diana', 'dee', 'lindsey']
True
[]

##### Indexing a List

In [46]:
#list_name [start: stop: step]

#single index
print(names[0])

for name in names:
    print(name[0])
    
print(names[2:4])
print(names[:3])
print(names[::2])

#print in reverse order
print(names[::-1])

tommy
t
r
l
d
d
l
['lexi', 'diana']
['tommy', 'rodger', 'lexi']
['tommy', 'lexi', 'dee']
['lindsey', 'dee', 'diana', 'lexi', 'rodger', 'tommy']

##### .append()

In [66]:
names.append("tyler")
print(names)

['tommy', 'deeandra', 'rodger', 'lexi', 'diana', 'dee', 'lindsey', 'tyler', 'tyler', 'tyler', 'tyler', 'tyler', 'tyler', 'tyler']

##### .insert()

In [67]:
#adds to a list in the spot you want.
names.insert(1,"deeandra")
print(names)

['tommy', 'deeandra', 'deeandra', 'rodger', 'lexi', 'diana', 'dee', 'lindsey', 'tyler', 'tyler', 'tyler', 'tyler', 'tyler', 'tyler', 'tyler']

##### .pop()


##### .remove()

In [60]:
cars=["dodge","chevy","ford","ram","porsche","bmw","honda"]
mycars=cars.pop(3)
print(mycars)

cars.pop(0)
print(cars)

ram
['chevy', 'ford', 'porsche', 'bmw', 'honda']

In [71]:
#--------REMOVE----------#
#removes a single value instead of an index
brands=["whirlpool","netflix","amazon","kellogs","brevelle","nike"]
brands.remove("kellogs")
print(brands)

while 'tyler' in names:
    names.remove('tyler')
print(names)

['whirlpool', 'netflix', 'amazon', 'brevelle', 'nike']
['tommy', 'deeandra', 'deeandra', 'rodger', 'lexi', 'diana', 'dee', 'lindsey']

##### del()

In [73]:
#this operates by index, it deletes the provided index. It will keep deleting the thing in the selected 
#position if not carefull.
del(names[1])
print(names)

['tommy', 'rodger', 'lexi', 'diana', 'dee', 'lindsey']

##### Concatenating Two Lists

In [86]:
##this will ass two lists together, wont concatenate the values
list_2=[0, 1, 2]
list_3=[3,4,5]

result=list_2 + list_3
print(result)

[0, 1, 2, 3, 4, 5]

##### Lists Within Lists

In [ ]:
#lists can contain any type of elements. including other lists.
#they can go as deep as you want
#these are nested lists.
names=["ty","dex","dodge","rex",["tim","yoky",["pip","yizy"],"wink"]]
print(names[4][2][1])
print(names[4][3])

##### Looping Through Lists

In [89]:
#two ways to loop throught lists.
#By index
for i in range(len(names)):
    print(names[i])
    
#loop with in
for i in names:
    print(i)

ty
dex
dodge
rex
['tim', 'yoky', ['pip', 'yizy'], 'wink']
ty
dex
dodge
rex
['tim', 'yoky', ['pip', 'yizy'], 'wink']

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [123]:
#for every value from 1 through 200 we want a result from the equation value**3

#from there we append every result to an empty list named 'answers'

# built into the loop is an if statement that says, once the result is greater than 1000, break the loop


answers=[]
for value in range(1,200):
    result=value**3
    answers.append(result)
    if result>= 1000:
        break
    
print(answers)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [160]:
# i have to skip over the number 1 in my range because anything devided by 1 is itself which would mean a modulo ==0

#for every number in the range we need to take its square root ny using(n**0.5), and the ((int) +1) up front converts the
#square root into an intiger.

#we see if 'n' is divisable by 2 or its square root

#if n (meaning 'number') is divisable by and possible divisors and calculates out to 0, it is not prime.

#if the equations yeilds a false signal, it will loop again to the next intiger untill it gets a true signal.

#then we make a list that runs numbers in our range through the function we made and stores the ones that make a true signal.

def is_prime(n): 
    for i in range(2, int(n**0.5) + 1):
        if n % i == 0:
            return False
    return True

prime_numbers = [num for num in range(1, 101) if is_prime(num)]
print(prime_numbers)

[1, 2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [162]:
#first we creat an input for the user to fill out and we must specify that the input is an integer so we can compare
# numbers later

#then we make an if functin to print "kids" if the inputed number is less than or equal to 18

#we do the same on thenext line except that we set the peramiter to age 65. We dont need to set a minimum age of 19 because
#if the input is 18, the loop will stop at the first if statement.

#for all responces that dont trigger one of the first two loops, the function responds by printing senior.
age=int(input('What is your age?'))

if age <= 18:
    print("kids")
if age <= 65:
    print("adults")
else:
    print("seniors")

What is your age?66
seniors